@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("/fonts/Inter/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("/fonts/Inter/Inter-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "EudoxusSans";
  font-weight: 500;
  src: url("/fonts/Eudoxus/EudoxusSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "EudoxusSans";
  font-weight: 700;
  src: url("/fonts/Eudoxus/EudoxusSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "EudoxusSans";
  font-weight: 800;
  src: url("/fonts/Eudoxus/EudoxusSans-ExtraBold.woff2") format("woff2");
}

* {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 50ms;
}
